.lastpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  align-items: center;
  justify-content: center;
  color: #acacac;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 2px 30px rgba(14, 41, 72, 0.11);
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    .distance-components {
      display: flex;
      justify-content: space-between;
      width: 300px;
      margin: 20px 0px;
      .city {
        box-sizing: content-box;
      }
      .bold {
        font-size: 18px;
        font-weight: 600;
        color: #000;
      }
    }

    .total-distance {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0px;
      border-top: 1px solid #000;
      width: 300px;
      padding-top: 15px;
      .bold {
        font-size: 18px;
        font-weight: 600;
        color: #000;
      }
    }
    .trip-information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      margin-top: 20px;
      span {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        svg {
          margin-right: 8px;
        }
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
    button {
      margin-top: 20px;
    }
    .warning-information {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
