$bgSecondary: #f5f5f5;
$bgSlider: #f5f8f8;
$white: #fff;
$primaryColor: #fed700;
$textColorSecondary: #333e48;
$textColorPrimary: #606060;
$textColorPlaceholder: #adadad;
$successColor: #44b81b;
$infoColor: #0062bd;
$errorColor: #ef1111;
$borderColor: #e7e7e7;
$categorieColor: #878787;
